
body {
	background: firebrick;
	font-family: Arial;
}

.search {
	margin: 180px auto;
	width: 500px;
}

.search-input {
	background: #FFF;
	border: none;
	color: #838383;
	font-size: 20px;
	height: 60px;
	outline: none;
	padding: 14px;
	width: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#suggestions {
	position: relative;
	top: -169px;
	width: 500px;
	padding: 0;
	margin: 0 auto;
}

li {
	list-style-type: none;
	background: #F5F5F5;
	padding: 10px;
	border-bottom: 1px solid #B22222;
}